#new-hint-popup .popup-window-content,
#popup-hints-list .popup-window-content,
#new-group-popup .popup-window-content {
  background-color: #ffffff;
  padding: 10px;
}

.new-hint-form-label-container {
  display: block;
  margin-bottom: 5px;

  &.with-top-margin {
    margin-top: 20px;
  }
}

.new-hint-form-label {
  color: #a3a9b1;

  &.error {
    color: red;
  }
}

.new-hint-bottom-label {
  span.asterix {
    color: red;
    font-size: 20px;
    line-height: 10px;
  }
  span.text {
    color: #a3a9b1;
    font-size: 12px;
  }
}

.hint-form-row-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.hint-form-block-50 {
  display: inline-block;
  width: 50%;
  height: auto;

  &.left {
    padding-right: 10px;
  }

  &.right {
    padding-left: 10px;
  }
}

//#eef2f4

.hints-table {
  width: 100%;
  text-align: left;
  td, th {
    padding: 5px;
  }
}

.last-column {
  text-align: right;

  white-space: nowrap;
}
